<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-info" type="button" name="button">Obtener Clientes</button>
        <button on-click="insertarClientes" class="btn btn-warning" type="button" name="button">Insertar Clientes</button>
      </div>
      <div class="row">
        <br />
          Cliente a buscar: <input type="idCliente" value="{{idCli::input}}">
        <br /><br /><br />
      </div>
      <div class="row">
          <button on-click="buscarClientes" class="btn btn-success" type="button" name="button">Buscar Clientes</button>
        <br /><br />
        <button on-click="borraClientes" class="btn btn-danger" type="button" name="button">Borrar Cliente</button>
        <br /><br /><br />
      </div>

      <div class="row">
        <table class="table table-hover table-striped">
          <thead>
            <th>ID</th>
            <th>Cliente</th>
            <th>Razon Social</th>
            <th>Personalidad Juridica</th>
            <th>Fecha Alta</th>
            <th>Canal</th>
            <th>Contratos</th>
          </thead>

          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>
                    [[item._id]]
                </td>
                <td>
                    [[item.idCliente]]
                </td>
                <td>
                    [[item.razonSocial]]
                </td>
                <td>
                    [[item.personalidadJuridica]]
                </td>
                <td>
                    [[item.fechaAlta]]
                </td>
                <td>
                    [[item.Canal]]
                </td>
                <td>
                    [[item.Contratos['idContrato']]]
                    [[item.Contratos.Tipo]]
                    [[item.Contratos.Mercado]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

Actualizacion y/o alta
      <div class="container">
        <div class="col-md-3">
        <div class="form-group"> <!-- Codigo del cliente -->
            <label for="idCliente" class="control-label">Codigo del cliente</label>
            <input type="text" class="form-control" id="idCliente" name="id_Cliente" placeholder="Codigo coorporativo del cliente" required>
        </div>

        <div class="form-group"> <!-- Razon social -->
            <label for="razonSocial" class="control-label">Razon Social</label>
            <input type="text" class="form-control" id="razonSocial" name="razon_social" placeholder="Razon social de la contrapartida" required>
        </div>

          <div class="form-group"> <!-- Personalidad Juridica -->
              <label for="personalidadJuridica" class="control-label" required>Personalidad Juridica</label>
              <select class="form-control" id="personalidadJuridica">
                  <option value="gobierno">gobierno</option>
                  <option value="moral">moral</option>
                  <option value="fisica">fisica</option>
                  <option value="fideicomiso">fideicomiso</option>
              </select>
          </div>

        <div class="form-group"> <!-- Fecha alta -->
            <label for="fechaAlta" class="control-label">Fecha de alta</label>
            <input type="date" class="form-control" id="fechaAlta" name="street2" placeholder="Indica la fecha de alta" required>
        </div>

        <div class="form-group"> <!-- Canal -->
            <label for="Canal" class="control-label" required>Personalidad Juridica</label>
            <select class="form-control" id="Canal">
                <option value="Bcom">Bcom</option>
                <option value="Netcash">Netcash</option>
            </select>
        </div>

        <div class="form-group"> <!-- Contrato-->
            <label for="zip_id" class="control-label">Zip Code</label>
            <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####" required>
        </div>

        <div class="form-group"> <!-- Boton insertar -->
            <button on-click="insertarClientes" type="button" class="btn btn-primary">Insertar</button>
        </div>

    </div>
      </div>



    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          idCli: {
            type: String
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
         //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
         request.open("GET","http://localhost:3000/Clientes",false);
         request.setRequestHeader("Accept","application/json");
         request.send();
         //this.clientes = JSON.parse(request.responseText).value;
         this.clientes = JSON.parse(request.responseText);
         //console.log(this.clientes);
         console.log(this.clientes);
      }
      /*insertarClientes2(){
        var request = new XMLHttpRequest();
         //request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
         request.open("POST","http://localhost:3000/Movimientos/v3",false);
         request.setRequestHeader("Accept","application/json");
         request.setRequestHeader("Content-Type","application/json");

         var NuevoCliente = {"CustorID":"","ContactName":"Pepe","CompanyName":"BBVA"};
         var body=JSON.stringify(NuevoCliente);

         request.send(body);
         this.respuesta = request.responseText;
         console.log(this.respuesta);
      }*/
      buscarClientes(){
        console.log("entro buscar cliente" + this.idCli);
        var request = new XMLHttpRequest();
         request.open("GET","http://localhost:3000/Clientes/" + this.idCli,false);
         request.setRequestHeader("Accept","application/json");
         request.send();
         this.clientes = JSON.parse(request.responseText);
         console.log(this.clientes);
      }
      borraClientes(){
        console.log("entro buscar cliente" + this.idCli);
        var request = new XMLHttpRequest();
         request.open("GET","http://localhost:3000/eliminarcliente/" + this.idCli,false);
         request.setRequestHeader("Accept","application/json");
         request.send();
         this.clientes = JSON.parse(request.responseText);
         console.log(this.clientes);
      }
      insertarClientes(){
        var request = new XMLHttpRequest();
         request.open("POST","http://localhost:3000/insertarcliente",false);
         request.setRequestHeader("Accept","application/json");
         request.setRequestHeader("Content-Type","application/json");

         var NuevoCliente = {"CustorID":"","ContactName":"Pepe","CompanyName":"BBVA"};
         var body=JSON.stringify(NuevoCliente);

         request.send(body);
         this.respuesta = request.responseText;
         console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
