<dom-module id="another-greeting">

  <template>
    <style>
      :host {
        display: block;
        background-color: #fff;

      }

      h1 {
        font-family: Lato;
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 2px;
        color: #4a4a4a;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        text-transform: uppercase;
      }

      h1 strong {
        letter-spacing: normal;
        font-weight: 900;
        color: #224fbd;
        margin-right: 0.8rem;
      }
    </style>
    <h1>
      <strong>[[prop1]], </strong> esto es un componente</h1>


  </template>

  <script>
    class AnotherGreeting extends Polymer.Element {

      static get is() {
        return 'another-greeting';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          prop1: {
            type: String,
            value: "Bienvenido",
            notify: true
          }
        };
      }
    }

    customElements.define(AnotherGreeting.is, AnotherGreeting);
  </script>

</dom-module>
