<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="hacerLogin"
      url="http://localhost:3000/apitechu/v5/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError"></iron-ajax>

    <div class="container">

      <nav class="navbar sticky-top navbar-light bg-light" hidden$="{{!logado}}">
        <a class="navbar-brand" href="#"> <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">Sticky top</a>
        <a class="navbar-brand" href="#">Sticky top</a>
        <a class="navbar-brand" href="#">Sticky top</a>
      </nav>


      <br /><br /><br /><br /><br />



      <div class="row">
        E-mail:<input type="email" value="{{email::input}}">
        <br />
        Password:<input type="password" value="{{password::input}}">
        <br />
        <button on-click="Logar" class="btn btn-success">Login</button>
      </div>

<div class="row">
  <span hidden$="{{!logado}}">Bienvenido a la app</span>
</div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(){
        console.log("1: Llego el resultado.");
        console.log(resultado);
        console.log("2: Proceso el resultado.");
        this.logado=true;
      }
      LogarIron() {
        console.log("Se ha punsado el boton de login.");
        console.log(this.email);
        console.log(this.password);
        this.$.hacerLogin.header['email'] = this.email;
        this.$.hacerLogin.header['password'] = this.password;
        this.$.hacerLogin.generateRequest();
      }
      Logar(){
         var request = new XMLHttpRequest();
         request.open('POST', "http://localhost:3000/apitechu/v5/login", false);
         request.setRequestHeader("Accept", "application/json");
         request.setRequestHeader("Content-Type", "application/json");
         request.setRequestHeader("email", this.email);
         request.setRequestHeader("password", this.password);

         //var nuevoCliente={"CustomerId":"12345", "ContactName":"Karla", "CompanyName":"BBVA"};
         //var body= JSON.stringify(nuevoCliente);

         request.send();
         this.respuesta = request.responseText;
         console.log("INTENTO DE LOGEO: " + this.respuesta);
         this.logado=true;
   }
      mostrarError() {
        this.logado=false;
        console.log("Error de logeo. " + error);
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
